:root{

--verde:#164123;
--dorado:#D5B743;
--crema:#FBF6D4;

--marron:#896441;
--salmon:#D7905D;
--amarillo:#DCC269;
--verde-claro:#A7B646;

}
/* FONT LOCALES */

@font-face{
font-family:"Symphony";
src:url("../../public/fonts/symphony-pro-regular.otf");
}

@font-face{
font-family:"Maden";
src:url("../../public/fonts/Madena/RL-Madena.otf");
}

@font-face{
font-family:"Figtree";
src:url("../../public/fonts/Figtree/Figtree-Regular.ttf");
}

body{

margin:0;
font-family:'Maden',serif;
background:var(--crema);
color:var(--verde);

}

h1,h2,h3{
font-family:'Maden',serif;

}
